<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../static/assets/img/favicon.ico" rel="icon" />
        <link rel="stylesheet" href="../static/assets/css/styles.css" />
        <link
            href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
            rel="stylesheet"
        />

        <!-- =====BOX ICONS===== -->
        <link
            href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
            rel="stylesheet"
        />
        <script
            src="https://kit.fontawesome.com/af466315e1.js"
            crossorigin="anonymous"
        ></script>

        <title>About</title>
    </head>
    <body class="about">
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Francis Brempong</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="index.html" class="nav__link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="project.html" class="nav__link">Project</a>
                        </li>
                        <li class="nav__item">
                            <a href="impact.html" class="nav__link">Impact</a>
                        </li>

                        <li class="nav__item">
                            <a href="about.html" class="nav__link active"
                                >About</a
                            >
                        </li>
                        <li class="nav__item">
                            <a href="contact.html" class="nav__link">Contact</a>
                        </li>
                        <li class="nav__item">
                            <a
                                class="ic-gc-nav"
                                href="https://linkedin.com/in/clickfb/"
                                target="_blank"
                                title=""
                                class=""
                            >
                                <i class="fab fa-linkedin-square fa-2x"></i>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a
                                class="ic-gc-nav"
                                href="https://github.com/click2ctrl"
                                target="_blank"
                                title=""
                                class=""
                            >
                                <i class="fab fa-github-square fa-2x"></i>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a
                                class="ic-gc-nav"
                                href="https://www.youtube.com/channel/UCFliOXHT5CbPb6UoXU8Qe3w/playlists?view_as=subscriber"
                                target="_blank"
                                title=""
                                class=""
                            >
                                <i class="fab fa-youtube-square fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="bx bx-menu"></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== ABOUT =====-->
            <section class="about section" id="about">
                <h2 class="section-title">About me</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img
                            class="image-about"
                            src="../static/assets/img/about.jpg"
                            alt=""
                        />
                    </div>

                    <div>
                        <h2 class="about__subtitle">
                            Hello viewers, <br />
                            I’m Francis Brempong
                        </h2>
                        <p class="about__text">
                            Brempong is an analyst with a focus on artificial
                            intelligence (AI), machine learning (ML), and
                            cyber-ecosystem impact.
                        </p>
                        <p class="about__text">
                            His experience branches out from undergraduate and
                            British curriculum tutor, to datacenter technician,
                            military medicine, and information systems.
                        </p>

                        <p class="about__text">
                            He provides technical edits on resume, personal
                            statement, and mock interview. He drives process
                            improvement in enterprise-scaled projects. He is a
                            multiple awardee for outstanding client relations,
                            and exceeding performance objectives through
                            workflow initiatives.
                        </p>
                        <p class="about__text">
                            Brempong commits to inclusiveness, and helps out
                            with volunteer to make real difference. He is a
                            master’s candidate in cybersecurity. His op-ed
                            articles and research are featured by media outlets
                            and institutional catalogue.
                        </p>
                        <p class="about__text">
                            He continues to develop deeper industry skills and
                            build portfolio from Google, Amazon, Microsoft, IBM,
                            Intelligence agencies, and a host of open-source
                            platforms.
                        </p>
                    </div>
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">
                    <div>
                        <h2 class="skills__subtitle">Professional Skills</h2>
                        <p class="skills__text">
                            Pen Testing, Nessus, Linux, PowerShell, Security IR,
                            Cloud Computing, Six Sigma, CRM DB, Resume Writing,
                            MS(Project, Team), Community Outreach/Fundraising,
                            Project/Contingency Planning, Soccer Coaching,
                            Flight/Trauma Medicine.
                        </p>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class="fab fa-linux skills__icon"></i>
                                <span class="skills__name"></span> Linux
                            </div>
                            <div class="skills__bar skills__html"></div>
                            <div>
                                <span class="skills__percentage"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class="fab fa-python skills__icon"></i>
                                <span class="skills__name">Python</span>
                            </div>
                            <div class="skills__bar skills__html"></div>
                            <div>
                                <span class="skills__percentage"></span>
                            </div>
                        </div>

                        <div class="skills__data">
                            <div class="skills__names">
                                <i class="fab fa-java skills__icon"></i>
                                <span class="skills__name">Java</span>
                            </div>
                            <div class="skills__bar skills__html"></div>
                            <div>
                                <span class="skills__percentage"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class="fas fa-cloud skills__icon"></i>
                                <span class="skills__name"
                                    >Cloud Computing</span
                                >
                            </div>
                            <div class="skills__bar skills__html"></div>
                            <div>
                                <span class="skills__percentage"></span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <img
                            src="../static/assets/img/aibg7.jpg"
                            alt=""
                            class="skills__img"
                        />
                    </div>
                </div>
            </section>
            <section class="work section" id="work">
                <h2 class="section-title-ex">Certifications</h2>

                <div class="work__container bd-grid">
                    <div class="work__img">
                        <a
                            href="https://www.youracclaim.com/badges/c2d13755-70c1-49d3-9b5a-bd90d6db43c1/linked_in_profile"
                            target="_blank"
                        >
                            <img src="../static/assets/img/work1.jpg" alt="" />
                        </a>
                    </div>
                    <div class="work__img">
                        <a
                            href="https://www.youracclaim.com/badges/66a74975-1e3e-498f-91c2-6e2c433dfd0d/linked_in_profile"
                            target="_blank"
                        >
                            <img src="../static/assets/img/work2.jpg" alt="" />
                        </a>
                    </div>
                    <div class="work__img">
                        <a
                            href="https://www.youracclaim.com/badges/e8808ff6-23b9-497a-9011-cefa32b9aba5/linked_in_profile"
                            target="_blank"
                        >
                            <img src="../static/assets/img/work3.jpg" alt="" />
                        </a>
                    </div>
                    <div class="work__img">
                        <a
                            href="https://www.coursera.org/account/accomplishments/certificate/QZVLGRMS5XE7"
                            target="_blank"
                        >
                            <img src="../static/assets/img/work4.jpg" alt="" />
                        </a>
                    </div>
                    <div class="work__img">
                        <a
                            href="https://www.sixsigma-institute.org/badges/14366136464290"
                            target="_blank"
                        >
                            <img src="../static/assets/img/work5.jpg" alt="" />
                        </a>
                    </div>
                    <div class="work__img">
                        <a
                            href="https://www.scrum-institute.org/badges/57123167396988"
                            target="_blank"
                        >
                            <img src="../static/assets/img/work6.jpg" alt="" />
                        </a>
                    </div>
                    <div class="work__img">
                        <a
                            href="../static/assets/img/FEMA-Cert.pdf"
                            target="_blank"
                        >
                            <img src="../static/assets/img/work7.jpg" alt="" />
                        </a>
                    </div>
                    <div class="work__img">
                        <a
                            href="../static/assets/img/NCIS-cert.pdf"
                            target="_blank"
                        >
                            <img src="../static/assets/img/work8.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title"></p>
            <div class="footer__social">
                <!-- <a href="#" class="footer__icon"
                    ><i class="bx bxl-youtube"></i
                ></a>
                <a href="#" class="footer__icon"
                    ><i class="bx bxl-instagram"></i
                ></a>
                <a href="#" class="footer__icon"
                    ><i class="bx bxl-twitter"></i
                ></a> -->
            </div>
            <p class="footer-copyright">
                &#169; 2020 | Francis Brempong. All rights reserved.
            </p>
        </footer>

        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="../static/assets/js/main.js"></script>
    </body>
</html>
