<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../static/assets/img/favicon.ico" rel="icon" />
        <link rel="stylesheet" href="../static/assets/css/styles.css" />

        <!-- =====BOX ICONS===== -->
        <link
            href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
            rel="stylesheet"
        />
        <script
            src="https://kit.fontawesome.com/af466315e1.js"
            crossorigin="anonymous"
        ></script>
        <title>Impact</title>
    </head>

    <body>
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Francis Brempong</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="index.html" class="nav__link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="project.html" class="nav__link">Project</a>
                        </li>
                        <li class="nav__item">
                            <a href="impact.html" class="nav__link active"
                                >Impact</a
                            >
                        </li>

                        <li class="nav__item">
                            <a href="about.html" class="nav__link">About</a>
                        </li>
                        <li class="nav__item">
                            <a href="contact.html" class="nav__link">Contact</a>
                        </li>
                        <li class="nav__item">
                            <a
                                class="ic-gc-nav"
                                href="https://linkedin.com/in/clickfb/"
                                target="_blank"
                                title=""
                                class=""
                            >
                                <i class="fab fa-linkedin-square fa-2x"></i>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a
                                class="ic-gc-nav"
                                href="https://github.com/click2ctrl"
                                target="_blank"
                                title=""
                                class=""
                            >
                                <i class="fab fa-github-square fa-2x"></i>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a
                                class="ic-gc-nav"
                                href="https://www.youtube.com/channel/UCFliOXHT5CbPb6UoXU8Qe3w/playlists?view_as=subscriber"
                                target="_blank"
                                title=""
                                class=""
                            >
                                <i class="fab fa-youtube-square fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="bx bx-menu"></i>
                </div>
            </nav>
        </header>
        <main class="l-main">
            <!-- (1) Volunteer -->
            <section class="project section" id="project">
                <h2 class="section-title">Impact</h2>
                <div class="volunteer-div bd-grid">
                    <div class="community__div">
                        <h2 style="font-size: 30px" class="about__subtitle">
                            Volunteer
                        </h2>
                        <p class="about__text">
                            i9 Sports, NC | The "Giants" Soccer Coach. Coached
                            kids to the championship soccer final. Role
                            strengthened the bond between kids and supporting
                            families, and gave the locals an enjoyable season
                            (March - May 2018).
                        </p>
                        <p class="about__text">
                            Irreverent Warriors, NC | Senior Event Coordinator.
                            Canvassed for 430 hikers. The hike was aimed at
                            improving mental health and preventing suicide.
                            Showed resilience to partake in the 22-kilometer
                            hike using crouches while nursing a
                            battalion-afflicted leg injury (December 2017 -
                            April 2018).
                        </p>
                        <p class="about__text">
                            Coalition for the Homeless, Washington DC | Team
                            Lead. Helped set up emergency shelter for 330
                            homeless families in support of the Blair
                            Transitional Rehab Program (March 2016).
                        </p>
                        <p class="about__text">
                            Jaded Paws Rescue, NC | Fundraiser. Raised $355 in 3
                            hours from the sales of puppy treats. Educated the
                            public on breed rescue, training, and pantry (July
                            2019).
                        </p>
                    </div>
                </div>
            </section>
            <!-- (2) Publications/Patent/Projects -->
            <section class="impact section" id="impact">
                <h2 class="section-title-p">
                    Publications | Patents | Projects
                </h2>
                <div class="hope-div bd-grid">
                    <div class="title-hope">
                        <ul>
                            <li class="buttons-impact">
                                <p style="font-size: 20px" class="about__text">
                                    Publications &nbsp;&nbsp;

                                    <a
                                        class="snt-jude"
                                        href="https://medium.com/@click2ctrl/how-to-publish-an-ad-on-craigslist-in-two-stages-2cbfb59cea92"
                                        target="_blank"
                                    >
                                        Link</a
                                    >
                                </p>
                            </li>
                            <li class="buttons-impact">
                                <p style="font-size: 20px" class="about__text">
                                    Patent &nbsp;&nbsp;

                                    <a
                                        class="patent-button"
                                        href="http://patents.google.com/"
                                        target="_blank"
                                    >
                                        Link</a
                                    >
                                </p>
                            </li>
                            <li class="buttons-impact">
                                <p style="font-size: 20px" class="about__text">
                                    Projects

                                    <a
                                        class="project-button"
                                        href="https://github.com/click2ctrl"
                                        target="_blank"
                                    >
                                        Link</a
                                    >
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- (3) Partner of Hope -->
            <section class="impact section" id="impact">
                <div class="hope-div bd-grid">
                    <div class="title-hope">
                        <h2 style="font-size: 30px" class="about__subtitle">
                            Partner of Hope
                        </h2>
                    </div>
                    <div class="title-hope">
                        <p class="about__text">
                            Kindly join myself (as a lifetime donor) in the
                            membership outreach and to donate a widow's mite to
                            St. Jude Children’s Hospital. This is gear towards
                            childhood cancer treatment and research.
                        </p>
                        <p class="about__text">
                            <a
                                class="snt-jude"
                                href="https://www.stjude.org/donate/donate-to-st-jude.html"
                                target="_blank"
                            >
                                Donate</a
                            >
                        </p>
                    </div>
                </div>
            </section>
            <!-- (4) Recommendation -->
            <section class="impact section" id="impact">
                <div class="about__container bd-grid">
                    <div>
                        <h2
                            style="padding-bottom: 70px; font-size: 30px"
                            class="about__subtitle"
                        >
                            Recommendation
                        </h2>
                    </div>
                    <div class="github__img">
                        <img
                            style="border-radius: 20px"
                            class=""
                            src="../static/assets/img/rec.jpg"
                            alt=""
                        />
                    </div>
                </div>
            </section>
            <!-- 5. Peaceful Polls Project -->
            <section class="project section" id="project">
                <div class="volunteer-div bd-grid">
                    <div class="community__div">
                        <h2 style="font-size: 30px" class="about__subtitle">
                            Peaceful Polls Project
                        </h2>

                        <p class="about__text">
                            Peaceful Polls Project (3Ps), Ghana | Founder.
                            <br />
                            Non-partisan progressive group. Formed to maintain
                            continuous democracy in Ghana through peaceful
                            election. Promoted awareness on legitimate citizens
                            right to vote, violent-free polls, voter fraud
                            elimination, biometric technology, and scrutinized
                            media reportage (2012). 
                            <br />
                        </p>
                        <p
                            style="
                                padding-top: 40px;
                                padding-bottom: 40px;
                                font-size: 20px;
                            "
                            class="about__text"
                        >
                            <a
                                class="snt-jude"
                                href="https://www.ghanaweb.com/GhanaHomePage/election2012/elections.results.php"
                                target="_blank"
                            >
                                MORE</a
                            >
                        </p>
                    </div>
                </div>
            </section>
            <!-- (6) Project Architect (Pivotal Science Lab) -->
            <section class="impact section" id="impact">
                <div class="hope-div bd-grid">
                    <div class="title-hope">
                        <h2 style="font-size: 30px" class="about__subtitle">
                            Project Architect (Pivotal Science Lab)
                        </h2>
                    </div>
                    <div class="title-hope">
                        <p class="about__text">
                            As dual Head of Science & Math Department in
                            Gracedew:  facilitated a 4,000 euros shipping of
                            science and innovative technologies from Holland. 
                            Outlined the lab topology and drafted 110+
                            grade-level projects.  Awarded Best in Tech &
                            Innovation (Departmental), and Best Tutor
                            (Overall). 
                        </p>
                        <p class="about__text">
                            This project prepared students for BECE, IGCSE, SAT
                            and prospective NSMQ contestants.
                        </p>

                        <p class="about__text">
                            <a
                                class="snt-jude"
                                href="https://nsmq.com.gh/videos/"
                                target="_blank"
                            >
                                MORE</a
                            >
                        </p>
                    </div>
                </div>
            </section>
            <!-- 7. Mission & Honors -->
            <section class="impact section" id="impact">
                <h2 class="section-title-ex">Mission & Honors</h2>
                <div class="hope-div bd-grid">
                    <div class="title-hope">
                        <h2 style="font-size: 30px" class="about__subtitle">
                            Mission
                        </h2>
                    </div>
                    <div class="title-hope">
                        <p class="about__text">
                            Our mission-focused crew provided airlift rescue to
                            a British who sustained severe injury on the stormy
                            sea. <br />I corresponded with the U.K. Embassy on
                            the status report of the injured patient I treated
                            and returned him to full recovery.
                        </p>

                        <p class="about__text">
                            <a
                                class="snt-jude"
                                href="https://news.usni.org/2019/07/18/kearsarge-returns-to-norfolk-after-7-month-deployment"
                                target="_blank"
                            >
                                MORE</a
                            >
                        </p>
                    </div>
                </div>
            </section>
            <section class="impact section" id="impact">
                <div class="hope-div bd-grid">
                    <div class="title-hope">
                        <h2 style="font-size: 30px" class="about__subtitle">
                            Honors
                        </h2>
                    </div>
                    <div class="title-hope">
                        <h1 style="padding-top: 40px" class="about__subtitle">
                            The President's Volunteer Service Award
                        </h1>
                        <p class="about__text">
                            In recognition for 1st Marines 2nd Battalion Aid
                            Station commitment to strengthen our nation and
                            communities through volunteer service (2018).
                        </p>
                        <h1 style="padding-top: 40px" class="about__subtitle">
                            Global War on Terrorism (E) Medal
                        </h1>
                        <p class="about__text">
                            Presented for serving in the War on Terror while
                            deployed on the LHD3 ship. This Air-Ground Task
                            Force (MAGTF) were expeditionary quick reaction
                            operations, and response to crisis by our Fleet
                            Marine Force (FMF).
                        </p>
                        <p class="about__text">
                            Operations centralized around the 5th and 6th Fleet
                            waterfront and shores, to include Kuwait, Jordan,
                            Oman, *Iran's Strait of Hormuz, Bahrain, Greece and
                            Spain (2018 - 2019).
                        </p>
                        <h1 style="padding-top: 40px" class="about__subtitle">
                            Navy & Marine Corps Achievement Medal
                        </h1>
                        <p class="about__text">
                            Consistently demonstrating unrivaled initiative and
                            professional acumen.  Recognizing a manning
                            shortfall within the intensive care unit (ICU),
                            Brempong volunteered and added post-anesthesia care
                            to his skills tool box.
                        </p>
                        <p class="about__text">
                            Demonstrated his proficiency by triaging,
                            evaluating, and providing care to ward admissions,
                            surgical recoveries, and conscious sedations
                            contributing to the overall health of the USS
                            KEARSARGE crew, 22 MEU attachments and PHIBRON
                            staff. Never wasted a second throughout the
                            evacuation chain (2018 - 2019).
                        </p>
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer">
            <p class="footer__title"></p>
            <div class="footer__social">
                <!-- <a href="#" class="footer__icon"
                    ><i class="bx bxl-youtube"></i
                ></a>
                <a href="#" class="footer__icon"
                    ><i class="bx bxl-instagram"></i
                ></a>
                <a href="#" class="footer__icon"
                    ><i class="bx bxl-twitter"></i
                ></a> -->
            </div>
            <p class="footer-copyright">
                &#169; 2020 | Francis Brempong. All rights reserved.
            </p>
        </footer>

        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="../static/assets/js/main.js"></script>
    </body>
</html>
