<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/assets/css/styles.css" />
        <link href="../static/assets/img/favicon.ico" rel="icon" />
        <!-- =====BOX ICONS===== -->
        <link
            href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
            rel="stylesheet"
        />
        <script
            src="https://kit.fontawesome.com/af466315e1.js"
            crossorigin="anonymous"
        ></script>
        <title>Francis Brempong</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Francis Brempong</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="index.html" class="nav__link active"
                                >Home</a
                            >
                        </li>
                        <li class="nav__item">
                            <a href="project.html" class="nav__link">Project</a>
                        </li>
                        <li class="nav__item">
                            <a href="impact.html" class="nav__link">Impact</a>
                        </li>

                        <li class="nav__item">
                            <a href="about.html" class="nav__link">About</a>
                        </li>
                        <li class="nav__item">
                            <a href="contact.html" class="nav__link">Contact</a>
                        </li>
                        <li class="nav__item">
                            <a
                                class="ic-gc-nav"
                                href="https://linkedin.com/in/clickfb/"
                                target="_blank"
                                title=""
                                class=""
                            >
                                <i class="fab fa-linkedin-square fa-2x"></i>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a
                                class="ic-gc-nav"
                                href="https://github.com/click2ctrl"
                                target="_blank"
                                title=""
                                class=""
                            >
                                <i class="fab fa-github-square fa-2x"></i>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a
                                class="ic-gc-nav"
                                href="https://www.youtube.com/channel/UCFliOXHT5CbPb6UoXU8Qe3w/playlists?view_as=subscriber"
                                target="_blank"
                                title=""
                                class=""
                            >
                                <i class="fab fa-youtube-square fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="bx bx-menu"></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <div
                        class="hero-full-container background-image-container white-text-container"
                    >
                        <div class="hero-full-wrapper">
                            <div class="text-content">
                                <h1 class="home__title">
                                    <span id="typed-strings">
                                        - - |
                                        <span>Hi, I’m Francis Brempong </span>
                                        <span>Cyber Analyst | AI/ML</span>
                                        <span>
                                            Python | Linux | Pen Testing
                                        </span>
                                    </span>
                                    <span id="typed"></span>
                                </h1>
                            </div>
                        </div>
                        <!-- <h1 class="home__title">
                        Hi,<br />I'm
                        <span class="home__title-color">Francis Brempong</span
                        ><br />
                        Cybersecurity Analyst
                    </h1> -->

                        <a href="about.html" class="button">More</a>
                    </div>
                    <!-- 
                    <div class="home__social">
                        <a href="" class="home__social-icon"
                            ><i class="bx bxl-linkedin"></i
                        ></a>
                        <a href="" class="home__social-icon"
                            ><i class="bx bxl-behance"></i
                        ></a>
                        <a href="" class="home__social-icon"
                            ><i class="bx bxl-github"></i
                        ></a>
                    </div> -->

                    <!-- <div class="home-img">
                    <img class="home-pp" src="assets/img/about.jpg" alt="" />
                </div> -->
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title"></p>
            <div class="footer__social">
                <!-- <a href="#" class="footer__icon"
                    ><i class="bx bxl-youtube"></i
                ></a>
                <a href="#" class="footer__icon"
                    ><i class="bx bxl-instagram"></i
                ></a>
                <a href="#" class="footer__icon"
                    ><i class="bx bxl-twitter"></i
                ></a> -->
            </div>
            <p class="footer-copyright">
                &#169; 2020 | Francis Brempong. All rights reserved.
            </p>
        </footer>
        <script>
            document.addEventListener("DOMContentLoaded", function (event) {
                type();
            });
        </script>
        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>
        <script src="../static/assets/js/script.js"></script>

        <!--===== MAIN JS =====-->
        <script src="../static/assets/js/main.js"></script>
    </body>
</html>
