<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../static/assets/img/favicon.ico" rel="icon" />
        <link rel="stylesheet" href="../static/assets/css/styles.css" />

        <!-- =====BOX ICONS===== -->
        <link
            href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
            rel="stylesheet"
        />
        <script
            src="https://kit.fontawesome.com/af466315e1.js"
            crossorigin="anonymous"
        ></script>
        <title>Impact</title>
    </head>

    <body>
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Francis Brempong</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="index.html" class="nav__link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="project.html" class="nav__link active"
                                >Project</a
                            >
                        </li>
                        <li class="nav__item">
                            <a href="impact.html" class="nav__link">Impact</a>
                        </li>

                        <li class="nav__item">
                            <a href="about.html" class="nav__link">About</a>
                        </li>
                        <li class="nav__item">
                            <a href="contact.html" class="nav__link">Contact</a>
                        </li>
                        <li class="nav__item">
                            <a
                                class="ic-gc-nav"
                                href="https://linkedin.com/in/clickfb/"
                                target="_blank"
                                title=""
                                class=""
                            >
                                <i class="fab fa-linkedin-square fa-2x"></i>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a
                                class="ic-gc-nav"
                                href="https://github.com/click2ctrl"
                                target="_blank"
                                title=""
                                class=""
                            >
                                <i class="fab fa-github-square fa-2x"></i>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a
                                class="ic-gc-nav"
                                href="https://www.youtube.com/channel/UCFliOXHT5CbPb6UoXU8Qe3w/playlists?view_as=subscriber"
                                target="_blank"
                                title=""
                                class=""
                            >
                                <i class="fab fa-youtube-square fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="bx bx-menu"></i>
                </div>
            </nav>
        </header>
        <main class="l-main">
            <!--===== ABOUT =====-->
            <section class="project section" id="project">
                <h2 class="section-title">Project</h2>
                <div class="about__container bd-grid">
                    <div>
                        <h2
                            style="font-size: 30px; padding-bottom: 40px"
                            class="about__subtitle"
                        >
                            Technical
                        </h2>
                        <p style="padding-bottom: 40px" class="about__text">
                            See my Github &nbsp;&nbsp;
                            <a
                                class="snt-jude"
                                href="https://github.com/click2ctrl"
                                target="_blank"
                                >HERE</a
                            >
                        </p>
                    </div>
                    <div class="github__img">
                        <img
                            class="git__image"
                            src="../static/assets/img/git.png"
                            alt=""
                        />
                    </div>

                    <!-- <div class="community__div">
                        <h2 style="font-size: 30px" class="about__subtitle">
                            Community
                        </h2>
                        <p style="font-size: 20px" class="about__text">
                            Kindly join myself (as a lifetime donor) in the
                            membership outreach and to donate a widow's mite to
                            St. Jude Children’s Hospital. Gear towards childhood
                            cancer treatment and research. (Connect to)

                            <a
                                href="https://www.stjude.org/donate/donate-to-st-jude.html"
                                target="_blank"
                            >
                                stjude.org/donate/donate-to-st-jude.html</a
                            >
                        </p>
                    </div>
                    <div class="github__img">
                        <img
                            style="width: fit-content"
                            class=""
                            src="../static/assets/img/snt.png"
                            alt=""
                        />
                    </div> -->
                </div>
            </section>
            <section class="project section" id="project">
                <div class="about__container bd-grid">
                    <div class="community__div">
                        <h2
                            style="font-size: 30px; padding-top: 30px"
                            class="about__subtitle"
                        >
                            Community
                        </h2>
                        <p
                            style="padding-top: 40px; padding-bottom: 40px"
                            class="about__text"
                        >
                            Kindly join myself (as a lifetime donor) in the
                            membership outreach and to donate a widow's mite to
                            St. Jude Children’s Hospital. Gear towards childhood
                            cancer treatment and research.
                        </p>

                        <p style="padding-bottom: 40px" class="about__text">
                            See more &nbsp;&nbsp;
                            <a
                                class="snt-jude"
                                href="https://www.stjude.org/donate/donate-to-st-jude.html"
                                target="_blank"
                            >
                                Here</a
                            >
                        </p>

                        <p class="about__text">
                            Peaceful Polls Project (3Ps), Ghana | Founder.
                            <br />
                            Non-partisan progressive group. Formed to maintain
                            continuous democracy in Ghana through peaceful
                            election. Promoted awareness on legitimate citizens
                            right to vote, violent-free polls, voter fraud
                            elimination, biometric technology, and scrutinized
                            media reportage (2012). 
                            <br />
                        </p>
                        <p
                            style="padding-bottom: 40px; padding-top: 40px"
                            class="about__text"
                        >
                            See more &nbsp;&nbsp;
                            <a
                                class="snt-jude"
                                href="https://www.ghanaweb.com/GhanaHomePage/election2012/elections.results.php"
                                target="_blank"
                            >
                                Here</a
                            >
                        </p>
                    </div>
                    <div class="project-snt-image">
                        <div class="github__img">
                            <img
                                style="width: fit-content"
                                class=""
                                src="../static/assets/img/snt.png"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer">
            <p class="footer__title"></p>
            <div class="footer__social">
                <!-- <a href="#" class="footer__icon"
                    ><i class="bx bxl-youtube"></i
                ></a>
                <a href="#" class="footer__icon"
                    ><i class="bx bxl-instagram"></i
                ></a>
                <a href="#" class="footer__icon"
                    ><i class="bx bxl-twitter"></i
                ></a> -->
            </div>
            <p class="footer-copyright">
                &#169; 2020 | Francis Brempong. All rights reserved.
            </p>
        </footer>

        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="../static/assets/js/main.js"></script>
    </body>
</html>
