<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../static/assets/img/favicon.ico" rel="icon" />
        <link rel="stylesheet" href="../static/assets/css/styles.css" />

        <!-- =====BOX ICONS===== -->
        <link
            href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
            rel="stylesheet"
        />       
         <script
        src="https://kit.fontawesome.com/af466315e1.js"
        crossorigin="anonymous"
    ></script>

        <title>Disclaimer</title>

    </head>
    <body>
        <main>
            <!--===== HEADER =====-->
            <header class="l-header">
                <nav class="nav bd-grid">
                    <div>
                        <a href="#" class="nav__logo">Francis Brempong</a>
                    </div>

                    <div class="nav__menu" id="nav-menu">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="index.html" class="nav__link"
                                    >Home</a
                                >
                            </li>
                            <li class="nav__item">
                                <a href="project.html" class="nav__link"
                                    >Project</a
                                >
                            </li>
                            <li class="nav__item">
                                <a href="impact.html" class="nav__link"
                                    >Impact</a
                                >
                            </li>

                            <li class="nav__item">
                                <a href="about.html" class="nav__link"
                                    >About</a
                                >
                            </li>
                            <li class="nav__item">
                                <a href="contact.html" class="nav__link"
                                    >Contact</a
                                >
                            </li>
                            <li class="nav__item">
                                <a
                                    class="ic-gc-nav"
                                    href="https://linkedin.com/in/clickfb/"
                                    target="_blank"
                                    title=""
                                    class=""
                                >
                                    <i class="fab fa-linkedin-square fa-2x"></i>
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    class="ic-gc-nav"
                                    href="https://github.com/click2ctrl"
                                    target="_blank"
                                    title=""
                                    class=""
                                >
                                    <i class="fab fa-github-square fa-2x"></i>
                                </a>
                            </li>
    
                            <li class="nav__item">
                                <a
                                    class="ic-gc-nav"
                                    href="https://www.youtube.com/channel/UCFliOXHT5CbPb6UoXU8Qe3w/playlists?view_as=subscriber"
                                    target="_blank"
                                    title=""
                                    class=""
                                >
                                    <i class="fab fa-youtube-square fa-2x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="nav__toggle" id="nav-toggle">
                        <i class="bx bx-menu"></i>
                    </div>
                </nav>
            </header>

            <!--===== THANK YOU =====-->
            <main class="l-main">
            <section class="contact section" id="thanks">
                <div class="thank_you">
                    <h2 class="section-title">Disclaimer</h2>
                    <h3 class="thanks-h3"style="color: white">
                        This website never shares viewer's information with third parties,
                        except with affiliated sites to optimize client experience through
                        the use of cookies.
                    </h1>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title"></p>
            <div class="footer__social">
                <!-- <a href="#" class="footer__icon"
                    ><i class="bx bxl-youtube"></i
                ></a>
                <a href="#" class="footer__icon"
                    ><i class="bx bxl-instagram"></i
                ></a>
                <a href="#" class="footer__icon"
                    ><i class="bx bxl-twitter"></i
                ></a> -->
            </div>
            <p class="footer-copyright">&#169; 2020 | Francis Brempong. All rights reserved.</p>
        </footer>

        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="../static/assets/js/main.js"></script>
    </body>
</html>
